#colors{
    @defaultBlack: #333;
    @overFormation: #212121;
    @grayBorder: #555;
    @menuButtonHover: #33333388;
    @defaultWhite: #ededed;
    @defaultBlue: #202081;
    @overBlue: #1b1b6b;
    @defaultOpacity: .8;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #colors[@defaultWhite];
    text-decoration: none;
}

body {
    padding: 2rem 0;

    background-color: #colors[@defaultBlack];

    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

h1{
    cursor: default;
    text-align: center;

    code{
        font-family: 'Source Code Pro', monospace;
    }
}

h2{
    cursor: default;
}

h1:hover, h2:hover{
    opacity: #colors[@defaultOpacity]
}

hr{
    width: 40%;

    @media(max-width: 720px){
        width: 80%;
    }
}

.blue-conteiner(){
    padding: 2rem;
    border: 2px solid #colors[@grayBorder];
    background-color: #colors[@defaultBlue];
}

.blue-conteiner-hover(){
    background-color: #colors[@overBlue];
}

#presentation{
    cursor: default;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;

    .blue-conteiner();

    width: 40%;

    @media(max-width: 1100px){
        width: 60%;
    }
    @media(max-width: 720px){
        width: 80%;
    }

    div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        p{
            @media(max-width: 720px){
                text-align: center;
            }
        }

        figure{
            display: flex;
            flex-direction: column;
            align-items: center;

            img{
                width: 128px;
                height: 128px;

                border: 2px solid #colors[@defaultWhite];
                border-radius: 50%;
            }

            img:hover, img:hover ~ figcaption{
                border-color: #d3a408;
                color: #d3a408;
            }
        }

        @media(max-width: 720px){
            flex-direction: column-reverse;
        }
    }
}

#presentation:hover{
    .blue-conteiner-hover();
}

#formations{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 40%;
    
    @media(max-width: 720px){
        width: 80%;
    }

    #formations__conteiner{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

.formation{
    cursor: default;

    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    
    padding: 1rem;

    #formation__description{
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 60%;

        @media(max-width: 720px){
            width: 80%;
        }
    }
}

.formation:hover{
    background-color: #colors[@overFormation];
}

#habilities{
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        cursor: default;
        width: 60%;
        text-align: center;
    }

    div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        @media(max-width: 720px){
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }
    }
}

.habilitie-slot{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem;

    margin: .5rem;
    padding: 1rem;
    background-color: #colors[@defaultWhite];

    img{
        height: 64px;
    }

    figcaption{
        cursor: default;
        color: #colors[@defaultBlack];
    }
}

.habilitie-slot:hover{
    opacity: #colors[@defaultOpacity];
}

#contact{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .blue-conteiner();

    width: 15rem;
    height: 15rem;

    h3{
        a{
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            span{
                width: 80%;
            }

            img{
                width: 32px;
                height: 32px;
            }
        }

        a:hover{
            opacity: #colors[@defaultOpacity];
        }
    }
}

#contact:hover{
    .blue-conteiner-hover();
}

#projects-conteiner{
    .blue-conteiner();

    display: grid;
    grid-template-columns: 1fr 1fr;

    width: 50%;
    height: 50vh;
    overflow: auto;
    
    @media(max-width: 720px){
        grid-template-columns: 1fr;
        width: 60%;
        padding: .5rem;
    }
}

#projects-conteiner:hover{
    .blue-conteiner-hover();
}

.project{
    width: 256px;
    height: 128px;

    margin: .5rem;
    border: 4px solid #colors[@grayBorder];

    img{
        width: 100%;
        height: 100%;
    }

    #project__details.active{
        width: 28vw;
        height: 180px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        
        position: absolute;
        bottom: 2rem;
        left: calc(100vw/2.75);
        z-index: 5;

        padding: 1rem;

        background-color: #colors[@defaultBlack];
        border: 4px solid #aaa;

        overflow: auto;

        @media(max-width:720px){
            left: calc(100vw/4);
            width: 50vw;
        }

        h3{
            font-size: 1rem;
        }

        p{
            font-size: .9rem;
        }
    }
}

#float-button{
    position: fixed;
    top: 1rem;
    right: 1rem;

    background-color: #colors[@defaultWhite];
    border: 2px solid #colors[@defaultBlack];
    padding: .5rem;

    color: #colors[@defaultBlack];
    font-size: 1rem;
}

#float-button:hover{
    cursor: pointer;
    opacity: #colors[@defaultOpacity];
}

#float-menu{
    position: fixed;
    top: 14rem;
    right: 1rem;

    background-color: #colors[@defaultWhite];
    width: 15%;
    border: 2px solid #colors[@defaultBlack];

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        a {
            width: 100%;

            font-size: 1rem;
            color: #colors[@defaultBlack];
            text-align: center;
            text-decoration: none;

            padding: 1rem;   
        }

        a:hover{
            color: #colors[@defaultWhite];
            background-color: #colors[@menuButtonHover];
        }
    }

    @media(max-width: 720px){
        width: 30%;
        top: 3.8rem;
    }
}

.not-active{
    position: absolute;
    z-index: -10;
    
    opacity: 0;
    visibility: hidden;
}

.active{
    opacity: 1;
    visibility: visible;
    
    z-index: 2;
}